@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background: #1c1917
}

@layer base {
  :root {
    --background: 227, 215, 187;
    --text: 15, 13, 13;
  }

  .dark,
  :root[class~="dark"] {
    --background: 15, 13, 13;
    --text: 227, 215, 187;
  }
}

@layer base {
  /* monotype grotesque */
  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  /* swear display */
  @font-face {
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }
}

@layer base{
  h1 {
    @apply text-7xl md:text-[700%] leading-[80%] font-serif
  }

  h3 {
    @apply text-5xl font-serif
  }

  h4 {
    @apply tracking-tight leading-none font-serif text-[40px] md:text-[74px];
  }

  h5 {
    @apply font-serif italic text-lg;
  }


  .transform-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .transform-top {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .aspect-square {
    aspect-ratio: 1/2;
  }

  .inactive {
    @apply bg-stone-800 w-full aspect-[3/5] rounded-2xl relative overflow-hidden;
    opacity: .25;
  }

  p {
    @apply text-xs md:text-sm font-thin font-sans tracking-wider leading-relaxed
  }

  .test {
    @apply border border-yellow-600 sm:border-green-700 md:border-blue-800 lg:border-red-700
  }
}
/* 
@layer base {
  h1 {
    @apply text-3xl font-serif;
  }

  h2 {
    @apply tracking-tight leading-none font-serif text-[40px] md:text-[74px];
  }

  h3 {
    @apply font-serif italic text-lg;
  }

  h5 {
    @apply border-b border-stone-700 pb-1 w-fit;
  }
  p {
    @apply text-base font-thin;
  }
  .role {
    @apply font-thin text-sm text-stone-500;
  }

  .btn-primary {
    @apply w-44 py-3 rounded-full bg-[#A0BCE4] text-stone-950;
  }

  .landscape {
    @apply w-3/4 md:w-[50%] object-contain;
  }

  .portrait {
    @apply w-1/2 object-contain object-right;
  }

  .transform-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .transform-y {
    top: 50%;
    transform: translatey(-50%);
  }

  .aspect-3 {
    aspect-ratio: 3 / 5;
  }

  .left-card {
    @apply aspect-3 bg-stone-800 rounded-3xl;
    top: 20%;
    height: 60%;
  }

  .right-card {
    @apply aspect-3 bg-stone-700 rounded-3xl;
    top: 20%;
    right: 40%;
    height: 60%;
    position: absolute;
  }

  .h-200 {
    height: 200%;
  }

  .outside {
    height: 300vh;
    width: 100%;
  }

  .inside {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0

  }

  .photo-wrapper {
    width: 50vw;
    max-width: 600px;
    display: flex;
    position: relative;
    justify-content: center;
    grid-row-gap: 128px;
    flex-direction: column;
    height: 100%;
  }

  .left-wrapper {
    align-items: start;
  }

  .right-wrapper {
    align-items: end;
  }

  .left-photo {
    width: 60%;
    aspect-ratio: 3/5;
    overflow: hidden;
    border-radius: 32px;
  }

  .right-photo {
    width: 60%;
    aspect-ratio: 3/5;
    overflow: hidden;
    border-radius: 32px;
  }

} */

.tag {
  font-size: 10px;
}

/* .left-card {
  @apply aspect-3 bg-stone-800 rounded-3xl;
  top: 20%;
  left: 10%;
  height: 60%;
  position: absolute;
}

.right-card {
  @apply aspect-3 bg-stone-700 rounded-3xl;
  top: 20%;
  right: 10%;
  height: 60%;
  position: absolute;
} */

body, .App {
  scroll-behavior: smooth;
}