@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227, 215, 187;
    --text: 15, 13, 13;
  }

  .dark,
  :root[class~="dark"] {
    --background: 15, 13, 13;
    --text: 227, 215, 187;
  }
}

@layer base {
  /* monotype grotesque */
  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  /* swear display */
  @font-face {
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/jha0eme.css");
  }

  @font-face {
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
    src: url("https://use.typekit.net/jha0eme.css");
  }
}

@layer base {
  h1 {
    @apply text-3xl font-serif;
  }

  h2 {
    @apply tracking-tighter font-sans text-[40px] md:text-[54px];
  }

  h3 {
    @apply font-serif italic text-lg;
  }

  h5 {
    @apply border-b border-stone-700 pb-1 w-fit;
  }
  p {
    @apply text-base font-thin;
  }
  .role {
    @apply font-thin text-sm text-stone-500;
  }

  .btn-primary {
    @apply w-44 py-3 rounded-full bg-[#A0BCE4] text-stone-950;
  }

  .landscape {
    @apply w-3/4 md:w-[50%] object-contain;
  }

  .portrait {
    @apply w-1/2 object-contain object-right;
  }

  .transform-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.tag {
  font-size: 10px;
}
